.main-flow {
  background-color: #edf3f7;
  width: 855px;
  height: 670px;
  border-radius: 10px;
}

.flow-graph,
.flow-history,
.flow-chart {
  transition: height 0.3s ease; /* Smooth transition */
}

.flow-graph {
  background-color: #fefeff;
  height: 40px; /* Default height */
  border-radius: 10px;
}

.flow-history {
  margin: 1% 0;
  background-color: #fefeff;
  height: 40px; /* Default height */
  border-radius: 10px;
}

.flow-chart {
  background-color: #fefeff;
  height: 40px; /* Default height */
  border-radius: 10px;
}

.flow-graph.expanded {
  height: 460px;
  /* height: 390; */
  border-radius: 10px;
}


.flow-history.expanded {
  height: 460px;
  border-radius: 10px;
}

.flow-chart.expanded {
  height: 465px;
  border-radius: 10px;
  /* background-color: aquamarine; */
}

.flow-titles {
  display: flex;
  padding: 1% 0% 0% 1%;
  /* padding-top: 0.5%; */
  /* margin-left: 3%; */
  /* margin-top: 0.2%; */
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

.flow-chart-head {
  display: flex;
}

.buttonContainer-flowchart-head {
  /* padding: 20px; */
  margin-top: 2%;
  margin-left: 60%;
  display: flex;
}

.saved-flowchart-head {
  width: 95px;
  height: 31px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
  background-color: #2867b2;
  border: #2867b2 1px solid;
  font-weight: 600;
  margin-left: 20px;
}

.discard-flowchart-head {
  width: 55px;
  height: 31px;
  border-radius: 4px;
  border: #8891aa 1px solid;
  font-weight: 600;
  font-size: 12px;
}

.saved-flowchart-head:hover {
  background-color: #014eac;
}

.discard-flowchart-head:hover {
  background-color: rgb(231, 231, 231);
}
.diamond-points{
  display: flex;
}

.total-points-box{
  display: flex;
  /* margin-left: 1%; */
}
.diamond-points p{
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  /* padding-right: 0%; */
}
.diamond-img{
  width: 30px;
  /* margin-left: 20%; */
}
.graph-head-buttons{
  display: flex;
  margin-left: 25%;
}
.total-points{
  border: none;
  background-color: #014eac;
  height: 100%;
  width: 40px;
  border-radius: 4px;
  color: white;
}
.graph-buttons{
  border: none;
  border-radius: 5px;
  background-color: #2867b2;
  height: 28px;
  /* margin-left: 300px; */
}

.dailygraph-button,.weeklygraph-button,.monthlygraph-button,.yearlygraph-button{
  border: none;
}