.add-account-main {
  width: 100%;
  margin-top: 0%;
  height: 45%;
  border-radius: 8px;
}
.addaccount {
  width: 97%;
  background-color: white;
  border-radius: 8px;
}

.addacc {
  padding: 25px 0px 0px 25px;
  font-size: 28px;
  font-weight: bold;
  color: Black;
}

.period2req {
  width: 100%;
  margin-left: 13%;
  display: flex;
}
.period2 {
  font-size: 20px;
  width: 10px;
  margin-top: 0%;
  font: bolder;
  color: #f52c2c;
}
.req {
  /* margin-left: 1%; */
  margin-top: 2%;
  color: rgb(92, 92, 92);
}
.inputs_page {
  display: flex;
}

.buttonContainer2 {
  margin-left: 60%;
  display: flex;
  margin-top: 3%;
}

.addconnection-discard {
  width: 72px;
  height: 36px;
  border-radius: 4px;
  border: #8891aa 1px solid;
  font-weight: 600;
  font-size: 14px;
}

.addconnection-save {
  width: 119px;
  height: 36px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  background-color: #2867b2;
  border: #2867b2 1px solid;
  font-weight: 600;
  margin-left: 30px;
}

.addconnection-save:hover {
  background-color: #2867b2;
}

.addconnection-discard:hover {
  background-color: rgb(231, 231, 231);
}

.add-connection-inputs {
  margin-left: 46%;
  margin-top: 2%;
  padding-bottom: 2%;
}

.addconnection-person-icon {
  width: 65%;
  height: 60%;
  background-color: #e0eaf1;
  border-radius: 50%;
  border: #ffffff 2px solid;
  margin-left: 0%;
}
.addconnection-person-icon svg {
  padding-top: 10%;
  /* margin-top: 20%; */
  width: 80%;
  /* height: 80%; */
}

.addconnection-flow2 {
  width: 50%;
}

.addconnection-profilepic {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  padding: 3%;
}

.addconnections-a1-flow {
  /* margin-left: -20px; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
  display: inline-block;
  border-radius: 11.29px;
  transition: all 0.5s;
  width: 80px;
  text-align: center;
  font-size: 7px;
  border: none;
  width: 58px;
  height: 65.7px;
  background-color: #e0eaf1;
  box-shadow: 0px 10px 15px 0px rgba(56, 45, 212, 0.12);
}

.addconnection-topics-flowchart h6 {
  padding-top: 25%;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
