*{
    margin: 0;
    padding: 0;
}

.myconnections,.networks{
    margin-left: 0px;
    height: 370px;
    border-radius: 4px solid #ddd;
    transition: width 0.3s ease;
    width: 733px;
    overflow-y: scroll;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
  }

  .myconnections.editing {
    width: 270px;
    height: 368px;
    position: relative;
  }
  .networks.editing {
    width: 270px;
    height: 368px;
  }
  
  .myconnections::-webkit-scrollbar,.networks::-webkit-scrollbar {
    width: 8px;
    display: none;
  }
  
  .person {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    /* Add other styles as needed */
  }
  
  .person.editing-border {
    border-color: blue;
  }
  

  .carousel{
    /* color: #171717;
    ma */
    margin-left: 5px;
  }

  
  
  .addprofiles i{
    position: relative;
    left: 14px;
    top: -24px;
    height: 26;
    width: 26;
    border-radius: 4px;
    /* color: #2867B2; */
  }

.person{
    padding-top: 18.5px;
    display: flex;
    background-color: #FDFEFF;
    margin-bottom: 10px;
    border: 1px solid transparent; /* Default border */
    transition: border 0.3s ease;
    border-radius: 0px 4px 0px 0px;    
}

.person.editing-border {
    border-color: #2867B2;
  }

.person hr{
    width: 2px;
    height: 57px;
    background-color: #2867B2;
    margin-left: 16.45px;
}

.profile{
    border: 1px solid black;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    margin-left: 24px;
    /* margin-top: 18.5px; */
    margin-bottom: 30px;
}

.username{
    margin-left: 29px;
}

.username h5{
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

.username p{
    font-size: 12px;
    margin-top: 3px;
    font-family: "Open Sans", sans-serif;
}

.job{
    margin-left: 24px;
    width: 247px;
}

.job p{
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
}

.contact{
    /* margin-top: 36px; */
    margin-left: 24px;
}

.contact p{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

.contact p i{
    color: #2867B2;
    width: 16px;
    height: 16px;
    margin-right: 7px;
}

.scheduled{
    width: 340px;
    height: 511.58px;
    background-color: #FFFFFF;
    margin: 20px 50px 293px -30px;
}

.top{
    display: flex;
    margin-bottom: 10px;
}

.top i{
    font-size: 20px;
    margin: 19px 15px 22px 0px;
}

.scheduled h4{
    font-size: 18px;
    margin: 15px;
    font-family: "Open Sans", sans-serif;
    color: #171717;
}

/* .scheduled p{
    text-align: center;
    color: #2867B2;
} */

.scheduled .top .notifications{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 18px 0px 0px 0px;
    background-color: #ED8F03;
}

.myschedule{
    display: flex;
    margin-bottom: 25px;
}

.details{
    margin-left: 15px;
}

.details h5{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.details p{
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    max-width: 213px;
    max-height: 36px;
    margin-bottom: 8px;
}

.details button{
    font-size: 13px;
    padding: 10px;
    border-radius: 50px;
    background-color: #FDFEFF;
    border-color: #7893C4;
    outline: none;
}