.history {
    display: flex;
  }
  
  .call {
    height: 295px;
    width: 400px;
    background-color: #FEFEFF;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .call-main {
    flex-shrink: 0;
    padding: 10px;
  }
  
  .call-below {
    flex-grow: 1;
    overflow-y: auto;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  .call::-webkit-scrollbar,.visited::-webkit-scrollbar {
    width: 8px;
    display: none;
  }
  
  .visited {
    height: 295px;
    width: 400px;
    background-color: #FEFEFF;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .visited-main {
    flex-shrink: 0;
    padding: 10px;
  }
  
  .visited-below {
    flex-grow: 1;
    overflow-y: auto;
    margin-left: 30px;
    margin-top: 20px;
  }

  .call-below::-webkit-scrollbar,.visited-below::-webkit-scrollbar {
    display: none;
  }
  
  .addcalllog,
  .addvisitedlog {
    flex-shrink: 0;
    padding: 10px;
    background-color: #2867B2;
    height: 28px;
    width: 95%;
    text-align: center;
    cursor: pointer;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 4px 4px;
    color: #FEFEFF;
  }
  
  .addcalllog i,
  .addvisitedlog i {
    color: #FEFEFF;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .addcalllog p,
  .addvisitedlog p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .addcalllog p{
    margin-left: 100px;
    margin-right: -220px;
  }
  .addvisitedlog p{
    margin-left: 100px;
    margin-right: -200px;
  }
  
  .call p,
  .visited p {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  
  .call i {
    margin-left: 240px;
    margin-top: 10px;
  }
  
  .visited i {
    margin-left: 220px;
    margin-top: 10px;
  }
  
  .call-tags,.visited-tags {
    display: flex;
    height: 50px;
    /* background-color: #2867B2; */
    align-items: center;
  }
  
  .call-tag,.visited-tag {
    margin-left: 40px;
    color: #2867B2;
  }
  
  .search-call {
    margin-left: 30px;
  }
  
  .search-tag {
    max-width: 100px;
  }
  
  .search-tag:focus {
    outline: none;
    border: none;
  }
  
  .search-tag::placeholder {
    font-size: 14px;
  }
 
  
  .call-line {
    width: 200px;
    margin-left: 30px;
  }
  
  .visited-line {
    width: 220px;
    margin-left: 30px;
  }
  
  .call-tag-line {
    margin-top: -4px;
    height: 3px;
    background-color: #2867B2;
    width: 50px;
    border: none;
    margin-left: 30px;
  }
  
  .visited-tag-line {
    margin-top: -4px;
    height: 3px;
    background-color: #2867B2;
    width: 70px;
    border: none;
    margin-left: 30px;
  }
  .calll{
    display: flex;
  }
  .call-title {
    font-size: 18px;
  }
  
  .date {
    margin-left: 10px; 
    margin-top: -2px;
    color: #2867B2;
    font-size: 17px;
  }

  .step-icon{
    margin-top: 5px;
  }
  
  .file-container {
    display: flex;
    margin-top: -10px;
  }
  
  .file-container p {
    font-size: 15px;
  }
  
  .file-container i {
    margin-top: -20px;
    font-size: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .fileimg,
  .agentimg {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    color: #2867B2;
  }
  
  .agent-container {
    margin-top: -20px;
    display: flex;
  }

  .agent-content{
    margin-bottom: 20px;
  }

  
  .agent-container p {
    font-size: 15px;
    color: #2867B2;
  }
  
  .call-popup{
        height: 500px;
        width:  800px;
        margin-left:27%;
        margin-top: 8.5%;
        border-radius: 10px;
  }
  .addcallpop{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
  }
  .call-logs{
    display: flex;
  }
  .call-type{
    margin-top: 40px;
    margin-left: 30px;
  }
  .type-input{
    margin-left: 50px;
    margin-top: -35px;
  }

  .date-type{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 20px;
  }
  .date-input{
    margin-left: 100px;
    margin-top: -35px;
  }
  .call-form{
    margin-top: 20px;
    margin-left: -100px;
  }
  .call-period{
    margin-left: 131px;
    margin-bottom: -19px;
    font-size: 25.5px;
    color: #EB5656;
  }
  .call-note{
    margin-top: -15px;
    margin-left: 140px;
    font-size: 13px;
    /* position: absolute; */
  }
  .call-input{
    border: none;
    height: 106px;
    width: 550px;
    margin-top: 10px;
    border-radius: 4px;
    margin-left: 30px;
    border: #959697 1px solid;
    margin-bottom: 50px;
  }
  .call-input:focus{
    outline: none;
  }

  .search-tag:focus {
    outline: none;
    border: none;
  }