/* Login.css */
.login-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .Login {
    background-color: #162447;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  h2 {
    color: #e0e1dd;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .GoogleLogin {
    margin-top: 20px;
  }
  
  .Login .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4285f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Login .button:hover {
    background-color: #357ae8;
  }
  
  .Login .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .welcome-message {
    color: #e0e1dd;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .portal-title {
    color: #e0e1dd;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .sign-in-note {
    color: #a3a4a8;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .gsignin {
    color: #a3a4a8;
    font-size: 14px;
    /* margin-top: 10px; */
    height: 50px;
    /* width: 200px; */
    /* margin-left: 30px; */
    margin-left: 110px;
  }

  .bitimg{
    width: 300px;
  }