.error_page {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #ffffff;
}
.error_layout {
  position: fixed;
  min-width: 100vw;
  max-height: 100vh;
}
.error_img {
  position: relative;
  top: 0;
  left: 0;
  padding-inline: 25vw;
  margin-top: 6%;
  margin-left: 5%;
  width: 40vw;
  height: 70vh;
}

.retry_button {
  position: relative;
  margin-left: 46%;
  border: none;
  cursor: pointer;
  margin-top: 2%;
  width: 20%;
  height: 35px;
  border: none;
  background-color: #2867b2;
  color: #EDF3F7;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
}

.retry_button:hover {
  background-color: #0056b3;
}